@import '../../colors.scss';

.file {
	padding: 1rem;
	border: 1px solid $primary;

}

.dot {
	display: flex;
	height: 25px;
	width: 25px;
	background-color: #bbb;
	border-radius: 50%;

	&.green {
		background-color: $turquoise;
	}

	&.red {
		background-color: $darker-red
	}
}