@import "bootstrap";
@import '../../colors.scss';

.asset {
	margin-bottom: 1rem;
	border: 1px solid black;
	border-radius: 0.6rem;

	.asset-header {
		justify-content: space-between;
		border-top-right-radius: 7px;
		border-top-left-radius: 7px;
		position: relative;
		padding: 0.5rem;
	}

	.asset-body {
		padding: 1rem;

		.asset-name {
			font-size: 2rem;
			align-items: center;
		}

	}

	.tag-container {
		.badge {
			margin-right: 0.5rem;
			padding: 0.5rem;
		}
	}

	// modifiers
	&.published {
		border-color: $leaf-green;

		.asset-header {
			color: $secondary;
			background-color : $leaf-green;
		}

		.badge {
			color: $secondary;
			background-color: $leaf-green;
		}

		.btn-primary {
			@include button-variant($turquoise, $emerald)
		}
		
	}

	&.unpublished {
		border-color: $soft-purple;

		.asset-header {
			color: $secondary;
			background-color : $soft-purple;
		}

		.badge {
			color: $secondary;
			background-color: $soft-purple;
		}

		.btn-primary {
			@include button-variant($darker-red, $soft-purple)
		}
	}

}

@media (min-width: 768px) {
	.asset {
		margin-bottom: 0;
		border-radius: 0;
		border-top: none;

		.asset-body {
			.asset-name {
				font-size: 1rem;
			}
		}
	}
		// modifiers
		&.published {
			background-color: transparentize($color: $leaf-green, $amount: 0.75);
		}
	
		&.unpublished {
			background-color: transparentize($color: $soft-purple, $amount: 0.75);

		}
}
