@import '../../colors.scss';

.tag-picker {
	margin-bottom: 2rem;
	.option-list {
		margin-top: 1rem;
		li {
			margin-right: 0.5rem;
			margin-bottom: 0.5rem;
			display: inline-block;
			button span {
				background-color: $secondary;
				color: $night-blue;
				margin-left: .5rem;
			}
		}
	}

}
