// fonts
$primary      : #000000;
$secondary    : #FFFFFF;
$blueish-gray : #92b0b3;

// unposted theme
$night-blue  : #2b2e4a;
$darker-red  : #903749;
$soft-purple : #53354a;

// posted theme
$leaf-green : #1e6f5c;
$turquoise  : #29bb89;
$emerald    : #289672;
